<div id="<%= dom_id colaborator %>">
  <p>
    <strong>Id:</strong>
    <%= colaborator.id %>
  </p>
  <p>
    <strong>created_at:</strong>
    <%= colaborator.created_at %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= colaborator.name %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= colaborator.email %>
  </p>
  <p>
    <strong>Byo:</strong>
    <%= colaborator.byo %>
  </p>
  <p>
    <strong>Available:</strong>
    <%= colaborator.available %>
  </p>
</div>
