<%= form_with(model: colaborator) do |form| %>
  <% if colaborator.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(colaborator.errors.count, "error") %> prohibited this colaborator from being saved:</h2>
      <ul>
        <% colaborator.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name,
        required: true,
        autocomplete: "name",
        placeholder: 'Nombre...',
        minlength: 3,
        maxlength: 30
    %>
  </div>
  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email,
        autocomplete: "email",
        required: true,
        placeholder: 'Email...',
        pattern: "^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$",
        style: "text-transform:lowercase",
        onkeyup: "javascript:this.value=this.value.toLowerCase();",
        minlength: 3,
        maxlength: 30
    %>
  </div>
  <div>
    <%= form.label :byo, style: "display: block" %>
    <%= form.text_area :byo,
        required: true,
        placeholder: 'Byo...',
        maxlength: 500,
        rows: 5
    %>
  </div>
  <div>
    <%= form.label :available, style: "display: block" %>
    <%= form.check_box :available %>
  </div>
  <div>
    <%= form.submit 'Publica' %>
  </div>
<% end %>
